<div class="container text-right" style="margin-top:25px">
    <a href="https://dev-plsxev-m.auth0.com/v2/logout?returnTo=https%3A%2F%2Fchildrem-cs493-final-project.appspot.com%2Flogin&client_id=WaXZPC8klI4IXDaquw0BDKfGN086p1yM" class="btn btn-info" role="button">
        Logout
    </a>
</div>
<h1 class="display-1 text-center" style="margin-top:25px">User Info Page</h1>
<h1 class="text-center">This is CS493 Final Project</h1>
<h4 class="text-center">Please see the returned value of id_token below</h4>

<div class="container text-center card card-body" style="margin-top:50px">
    <p>Value of the id_token: {{id_token}}</p>
</div>

<p class="text-center" style="margin-top: 25px">This project is a submission for an assignment for CS 493 Cloud Application Development at Oregon State University.</p>
<p class="text-center">The goal of the project is to learn how to use authentication/authorization to protect resources.</p>
<p class="text-center">It will have the user sign in or create an account with Auth0 and simply display the id_token returned.</p>