<h1 class="display-1 text-center" style="margin-top:100px">Welcome!</h1>
<h1 class="text-center">This is CS493 Final Project</h1>
<h4 class="text-center">Please press the link below to be taken to Auth0 for Login</h4>

<div class="container text-center" style="margin-top:50px">
    <a href="{{endpointURL}}">Login using Auth0</a>
</div>

<p class="text-center" style="margin-top: 75px">This project is a submission for an assignment for CS 493 Cloud Application Development at Oregon State University.</p>
<p class="text-center">The goal of the project is to learn how to use authentication/authorization to protect resources.</p>
<p class="text-center">It will have the user sign in or create an account with Auth0 and simply display the id_token returned.</p>